.table {
    position: relative;
}

.die {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 44px;
    font-family: sans-serif;
    text-align: center;
    border: 3px solid #888;
    border-radius: 12px;
    cursor: pointer;
}

.deck {
    display: inline-block;
    padding: 30px;
    width: 80px;
    height: 130px;
    font-size: 20px;
    border: 1px solid #555;
    border-radius: 12px;
    cursor: pointer;
}

div {
    margin: 10px;
}
